* {
    box-sizing: border-box;
    margin: 0;
    padding:0;
}
@import './main/reset.scss';
@import './components/header.scss';
@import './components/events.scss';
@import './components/contact.scss';
@import './components/blog.scss';
@import './components/social.scss';
@import './components/email.scss';
@import './components/footer.scss';

h1{
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    color:#ffffff;
    margin:520px 0 50px;
}
button:hover{
    background-color: #202020;
    color:#ffffff;
}

html{
    font-family: 'Gilroy', 'san-serif';
    font-size: 14px;
}

.background {
    background-image: url(../imgs/background.jpg);
    background-size: cover;
    background-position: center;
    height: 950px;
}
.background::before{
    content:'';
    background:rgba(51, 51, 51, 0.77);
    position: absolute;
    height: 950px;
    width:100%;

}
.container{
    max-width:1110px;
    left:50%;
    transform: translate(-50%, 0);
    position: relative;
}
@media(min-width:320px) and (max-width:618.7px){
    .background {
        height: 670px;
    }
    .background::before{
        height: 670px;
    }
    .header-top__start,.header-top__end{
        display: none;
    }
    
}
