.blog__title Полезные статьи
.blog__text Лучшие советы по подбору дорогих подарков
.blog__grid     
    .blog__img 
        img(src="./assets/imgs/blog/first.jpg", alt="marrige")
        p.blog__content Как выбрать часы для своей будущей жены
    .blog__img
        img(src="./assets/imgs/blog/second.jpg", alt="marrige")
        p.blog__content Запонки для мужа: 7 ключевых правил покупки аксессуара
    .blog__img
        img(src="./assets/imgs/blog/third.jpg", alt="marrige")
        p.blog__content Как выбрать обручальные кольца молодоженам
button.blog__button читать наш блог
