.background-black
    .container
        .background-black__content 
            p.background-black__text Не знаете, что выбрать?
            p.background-black__title Посетите наши салоны в Москве
            p.background-black__bottom Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut duis tortor vitae pellentesque egestas quam pulvinar. Pellentesque porttitor velit sit pellentesque. Suspendisse donec pretium id dignissim. Dignissim ultrices eget orci viverra. Egestas quis et ut ultrices imperdiet lectus nulla tempus. Pharetra lorem sem purus nisi libero viverra ipsum.
            button.background-black__button наши салоны


