.email__background
    .container
        .email__title Полезные советы и персональный предложения
        .email__text Эксклюзивная рассылка
        .email__box 
            .email__box-text
                .email__box-item
                    img(class='animation',src="./assets/imgs/play.svg", alt="play")
                    a(href="#")  Личный менеджер
                .email__box-item
                    img(class='animation',src="./assets/imgs/play.svg", alt="play")
                    a(href="#") Доставка и оформление
                .email__box-item
                    img(class='animation',src="./assets/imgs/play.svg", alt="play")
                    a(href="#") Индивидуальный дизайн
            .email__border
                .email__form
                    form
                        input(type="email",placeholder='ВАШ E-MAIL')
                        button.email__box-button ОТПРАВИТЬ