p.events-block К мероприятиям
h2 Настоящая красота здесь!
.events-block__buttons  
    button СВАДЬБА
    button МУЖУ
    button ЖЕНЕ
    button ПАРТНЕРУ
    button КОЛЛЕКЦИИ
    button РЕДКОСТЬ
.events-block__range
    .events-block__element 
        img(src="./assets/imgs/decoration/ring.jpg", alt="decoration")
        p.events-block__item КОЛЬЦА
    .events-block__element
        img(src="./assets/imgs/decoration/earring.jpg", alt="decoration")
        p.events-block__item СЕРЬГИ
    .events-block__element
        img(src="./assets/imgs/decoration/pendants.jpg", alt="decoration")
        p.events-block__item ПОДВЕСКИ
    .events-block__element
        img(src="./assets/imgs/decoration/cufflinks.jpg", alt="decoration")
        p.events-block__item ЗАПОНКИ
    .events-block__element
        img(src="./assets/imgs/decoration/bracelets.jpg", alt="decoration")
        p.events-block__item БРАСЛЕТЫ
    .events-block__element
        img(src="./assets/imgs/decoration/clock.jpg", alt="decoration")
        p.events-block__item ЧАСЫ