.footer-flex
    .footer-flex__container
        a(href="#").footer-flex__title Полезные ссылки
        a(href="#").footer-flex__text Доставка
        a(href="#").footer-flex__text Оплата 
        a(href="#").footer-flex__text Акции
        a(href="#").footer-flex__text Политика конфиденциальности
    .footer-flex__container 
        p.footer-flex__title ОПЛАТА
        p.footer-flex__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ullamcorper justo, nec, pellentesque.
        .footer-flex__img
            img(src="./assets/imgs/footer/visa.png", alt="visa-card")
            img(src="./assets/imgs/footer/master.png", alt="master-card")
    .footer-flex__container 
        p.footer-flex__title КОНТАКТЫ
        .footer-flex__content   
            img(src="./assets/imgs/footer/phone.svg", alt="phone")
            a(href='tel:8 (812) 234-56-55') 8 (812) 234-56-55
        .footer-flex__content   
            img(src="./assets/imgs/footer/phone.svg", alt="phone")
            a(href='tel:8 (812) 234-56-55') 8 (812) 234-56-55
        .footer-flex__content   
            img(src="./assets/imgs/footer/letter.svg", alt="letter")
            a(href='tel:ojjo@ojjo.ru') ojjo@ojjo.ru
    .footer-flex__container
        p.footer-flex__title СОЦИАЛЬНЫЕ СЕТИ
        p.footer-flex__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ullamcorper justo, nec, pellentesque.
        .footer-flex__content
            a(href="https://www.youtube.com/" target='blank') 
                img(class='footer__imgs',src="./assets/imgs/footer/youtube.svg", alt="SOCIALMEDIA")
            a(href="https://vk.com/feed" target='blank') 
                img(class='footer__imgs',src="./assets/imgs/footer/vk.svg", alt="SOCIALMEDIA")
            a(href="https://www.facebook.com/" target='blank') 
                img(class='footer__imgs',src="./assets/imgs/footer/facebook.svg", alt="SOCIALMEDIA")
            a(href="https://web.telegram.org/z/" target='blank') 
                img(class='footer__imgs',src="./assets/imgs/footer/telegram.svg", alt="SOCIALMEDIA")
            a(href="https://www.etsy.com/" target='blank') 
                img(class='footer__imgs',src="./assets/imgs/footer/etsy.svg", alt="SOCIALMEDIA")
.footer-flex__end 
    p (c) 2020 OJJO jewelry
    p Договор публичной офферты
    p Контрагентам
    p Сделано Figma.info