.background 
    .container
        .header-top
            .header-top__start
                a(href="#").header-top__content Контрагентам
                a(href="#").header-top__content Дизайнерам
                a(href="#").header-top__content Вакансии
            img(src="./assets/imgs/header/ico.svg", alt="logo , ico").header-top__ico 
            .header-top__end
                button.header-elements__glass 
                    img(src="./assets/imgs/header/glass.svg", alt="glass")
                input(class='header-elements__search',type='text',name="search",placeholder="Поиск") 
                .header-elements
                    .header-elements__register Вход/Регистрация
                button.header-elements__human
                    img(src="./assets/imgs/header/human.svg", alt="human")
                button.header-elements__heart
                    img(src="./assets/imgs/header/heart.svg", alt="heart")
        h1.header-top__title Долго, дорого, богато!
        button.origin каталог изделий 
    .header-bottom  
        img(src="./assets/imgs/header/coco.png", alt="C")
        img(src="./assets/imgs/header/coco.png", alt="C")
        img(src="./assets/imgs/header/coco.png", alt="C")
        img(src="./assets/imgs/header/coco.png", alt="C")
        img(src="./assets/imgs/header/coco.png", alt="C")
        img(src="./assets/imgs/header/coco.png", alt="C")
