p.social__title #ojjo_jewerly
p.social__text Мы в социальных сетях
.social-grid
    .social-grid__first
        img(src="./assets/imgs/social/first.jpg", alt="pure")
        img(class='social__play',src="./assets/imgs/social/play.svg", alt="play")
    .social-grid__second
        img(src="./assets/imgs/social/second.jpg", alt="pure")
    .social-grid__third
        img(src="./assets/imgs/social/third.jpg", alt="pure")
    .social-grid__fouth
        img(src="./assets/imgs/social/fouth.jpg", alt="pure")
    .social-grid__five
        img(src="./assets/imgs/social/five.jpg", alt="pure")
    .social-grid__six
        img(src="./assets/imgs/social/six.jpg", alt="pure")
    