p.social__title #ojjo_jewerly
p.social__text Мы в социальных сетях
.social-grid
    .social-grid__item
        img(src="./assets/imgs/social/first.jpg", alt="pure")
    .social-grid__item
        img(src="./assets/imgs/social/second.jpg", alt="pure")
    .social-grid__item
        img(src="./assets/imgs/social/third.jpg", alt="pure")
    .social-grid__item
        img(src="./assets/imgs/social/fouth.jpg", alt="pure")
    .social-grid__item
        img(src="./assets/imgs/social/five.jpg", alt="pure")
    .social-grid__item
        img(src="./assets/imgs/social/six.jpg", alt="pure")
    