doctype html
html(lang="en")
    head
        link(rel='stylesheet' href='./assets/fonts/stylesheet.css')
        link(rel='stylesheet' href='./assets/css/app.css')
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body       
        include ./components/header.pug
        .container
            include ./components/events.pug
        include ./components/contact.pug
        .container
            include ./components/blog.pug
            include ./components/social.pug
        include ./components/email.pug
        .container
            include ./components/footer.pug